@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap');

/* arrumar o width dos containers */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 18px;
 
}

body{
    background-color: rgb(10, 10, 10);
}

/* container */
.container{
    max-width: 750px;
    width: 100%;
    margin: 0 auto;
    /* border: 2px solid black; */
}


/* SECTION 1 */
.sec-1{
    height: 400px;
    position: relative;

}

.img-sec1{
    position: absolute;
    width: 100%;
    height: 100%;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: relative;
    padding: 20px 25px;

    font-family: 'Barlow', sans-serif;
    /* border: 1px solid red; */

}

.logo-header{
    
    width: 80%;

    /* border: 1px solid green; */
}

.lista-header, .link-header{
    display: flex;
    align-items: center;
    text-decoration: none;
    list-style: none;
    font-size: small;
    padding-left: 25px;
    color: white;
    /* border: 1px solid black; */
}


.titulo-header{
    text-align: center;
    position: relative;
    padding-top: 40px;

    font-size: 1.7em;
    font-family: 'Fraunces', sans-serif;
    color: white;
    text-transform: uppercase;
    letter-spacing: 4px;
}

/* como positiona a seta????????? */
/* .img-arrow{
    position: relative;
    
    width: 30px;
    height: 70px;
} */


/* SECTION 2-3 */
.sec-2-3{
    display: flex;
    flex-direction: row;
    
    width: 100%;
    height: 350px;
}


/* SECTION 2 */
.sec-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; 

    background-color: white;

    /* height: 100%; */
    /* padding: 80px; */
    width: 375px;

    /* border: 1px solid red;  */
}

.container-sec2{
    padding: 60px;
}

.titulo-sec2{
    font-size: x-large;
    font-family: 'Fraunces';
    font-weight: 900;
    color: hsl(212, 27%, 19%);
}

.texto-sec2{
    font-size: smaller;
    font-family: 'Barlow';
    font-size: small;
    padding: 20px 0px;
    color: hsl(213, 9%, 39%);
}

.btn-sec2{
    cursor: pointer;
    border: none;
    text-transform: uppercase;
    font-size: small;
    /* font-weight: bold; */
    background-color: white;
    font-family: 'Fraunces';
    color: hsl(212, 27%, 19%);
}


/* SECTION 3 */

.sec-3{
    position: relative;
    width: 375px;
    /* height: 400px; */   
}

.img-sec3{
    position: absolute;
    height: 100%;
    width: 100%;   
}


/* SECTION 4-5 */
.sec-4-5{
    display: flex;
    flex-direction: row;
    
    width: 100%;
    height: 350px;
}


/* SECTION 4 */
.sec-4{
    width: 375px;
    position: relative;
    /* border: 1px solid black; */
}

.img-sec4{
    position: absolute;
    width: 100%;
    height: 100%;
}


/* SECTION 5 */
.sec-5{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    /* padding: 80px; */
    background-color: white;

    width: 375px;
    /* height: 400px; */

    /* border: 1px solid black; */
}

.container-sec5{
    padding: 60px;
}


.titulo-sec5{
    font-size: x-large;
    font-family: 'Fraunces';
    font-weight: 900;
    color: hsl(212, 27%, 19%);
}

.texto-sec5{
    font-size: smaller;
    padding: 20px 0px;
    font-family: 'Barlow';
    font-size: small;
    color: hsl(213, 9%, 39%);
}

.btn-sec5{
    cursor: pointer;
    border: none;
    text-transform: uppercase;
    font-size: small;
    /* font-weight: bold; */
    /* padding-top: 30px; */
    background-color: white;
    font-family: 'Fraunces';
    color: hsl(212, 27%, 19%);
}


/* SECTION 6-7 */
.sec-6-7{
    display: flex;
    flex-direction: row;
    
    width: 100%;
    height: 300px;
}

.sec-6, .sec-7{
    display: flex;
    align-items: flex-end;
    justify-content: center;

    width: 375px;
    position: relative;
    /* border: 1px solid red; */
}

.sec-6{
    color: hsl(167, 40%, 24%);; 
}

.sec-7{
    color: hsl(198, 62%, 26%);
}

.conteudo-sec6, .conteudo-sec7{
    text-align: center;
    position: relative;

    height: 115px;
    width: 260px;
    

    /* border: 2px solid gold; */
}

.img-sec6, .img-sec7{
    position: absolute;
    height: 100%;
    width: 100%;
}

.titulo-sec6, .titulo-sec7{
    font-size: 17px;
    padding-bottom: 15px;
    font-family: 'Fraunces';
    font-weight: 900;

}

.texto-sec6, .texto-sec7{
    padding-bottom: 30px;
    font-family: 'Barlow';
    font-size: 12px;
}



/* Section 8 */
.sec-8{
    padding: 60px 50px;
    background-color: white;

}

.titulo-sec8{
    padding-bottom: 20px;
    text-transform: uppercase;
    font-size: small;
    letter-spacing: 3px;
    text-align: center;
    font-family: 'Fraunces';
    color: hsl(232, 10%, 55%);
}

.sec8-profiles{
    display: flex;
    height: 180px;
    /* border: 1px solid red; */
}

/* SECTION 8 PROFILES */
.profile-1, .profile-2, .profile-3{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;

    padding: 13px;
    font-family: 'Barlow';
    font-size: 14px;
    /* border: 1px solid gold; */
}

.img-profile{
    border-radius: 100%;
    height: 30px;
    width: 30px;
}

.text-profile, .text-profile{
    font-size: x-small;
    color: hsl(213, 9%, 39%);
    /* padding: 20px 0px; */
}

.name-profile{
    font-family: 'Fraunces';
    font-size: smaller;
    color: hsl(212, 27%, 19%);
}


/* SECTION 9 */
.sec-9{
    display: flex;
    flex-direction: row;
    position: relative;

    /* max-width: 750px; */
    width: 100%;
    height: 200px;
    /* border: 2px solid green; */
}

.container-1, .container-2, .container-3, .container-4 {
    height: 100%;
    width: 200px;
    position: relative;
    /* border: 2px solid red; */
}

.img-1, .img-2, .img-3, .img-4 {
    /* position: absolute; */
    height: 100%;
    width: 100%;
}

.container-mobile{
    border: 1px solid blue;
    display: flex;
    flex-direction: row;
}

/* FOOTER */
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    height: 180px;

    background-color: rgb(104, 201, 172);
    /* border: 1px solid white; */
}

.logo-footer{
    width: 100px;
}

.option ul, a{
    display: flex;

    list-style: none;
    text-decoration: none;
    padding: 0px 20px;
    font-size: small;
    font-family: 'Barlow';
    color: hsl(168, 34%, 41%);;

    /* border: 1px solid; */
}

.medias img{
    padding: 0px 10px;
    width: 18%;
    cursor: pointer;
}

